.collapse-div{
    margin-left: 20px;
    margin-top: 50px;
    margin-right: 20px;
}

.accordian-collapse{
    color: white;
}

.card-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.cards{
    width: 250px;
    margin-top: 10px;
    margin-left: 50px;
}