.custom-grid {
  font-family: "Roboto", sans-serif;
  border-radius: 12px;
  overflow: hidden;
  width: fit-content;
}

.custom-grid .ag-header {
  background-color: #1976d2;
  color: white;
  font-weight: bold;
}

.custom-grid .ag-row:nth-child(even) {
  background-color: #f5f7fa;
}

.custom-grid .ag-row-hover {
  background-color: #e3f2fd !important;
}

.custom-grid .ag-cell {
  font-size: 14px;
}

.p-dialog .p-dialog-header {
  color: solid black;
  font-weight: bold;
}

.p-button{
  margin-top: 10px;
  border-color: #1976d2;
}

.p-button:hover {
  background-color: #1565c0;
}