.app-layout {
  display: flex;
  height: 100vh;
}


.sidebar {
  width: 220px;
  background: #1e293b;
  color: #fff;
  padding: 20px;
}


.logo{
    margin-bottom: 20px;
}

.nav-link {
  display: block;
  padding: 10px;
  color: #cbd5e1;
  text-decoration: none;
  border-radius: 6px;
  margin-bottom: 8px;
}

.nav-link.active {
  background: #334155;
  color: #fff;
}

.app-content {
  flex: 1;
  padding: 20px;
  background: #f8fafc;
}